.divCover{
    margin-top: 4vh;
}
.cardInner{
    transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .cardFront, .cardBack {
    
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  .cardBack{
    transform: rotateY(180deg);
  }

  .footer{
    background-color: #EBEBEB;     
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20%;
    
}

.footerIndex{
    margin-left: 0%;
}

.navBarListFooter a{    
    
    text-decoration: none;
    color:black;
    font-size: 13px;   
    
}
.socialMediaItem{
    list-style-type: none;
    
}
.navBarItemFooter{
    list-style-type: none;
}
.navBarItemFooter a:hover{
    text-decoration: underline;

}
.socialMediaItem a:hover{
    text-decoration: underline;
}


.listSocialMedia a{
    list-style-type:none;
    text-decoration: none;
    color: black;
}

@media (max-width:480px) {
    
    .footer{
        background-color: #EBEBEB;     
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        }
    
        .navBarListFooter a{       
        text-decoration: none;
        color:black;
        font-size: 13px;   
        
        }
        .socialMediaItem{
        list-style-type: none;
        
        }
        .navBarItemFooter{
        list-style-type: none;
        }
        .navBarItemFooter a:hover{
        text-decoration: underline;
    
        }
        .socialMediaItem a:hover{
        text-decoration: underline;
        }
        .listSocialMedia a{
        list-style-type:none;
        text-decoration: none;
        color: black;
        }
}
/*Advices*/

.imgCoverAdvices{
    width: 70%;
    height: 60vh;
}

.coverAdvices{    
    width: 80%;
    height: 70vh;
    background-image: url("../img/backgroundAdvices1.jpg");
    background-size: cover;  
    margin-bottom: 7rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: 10%;
    

}
.divCoverAdvices{
    
    width: 80%;
    height: 10vh;
    background-color: rgb(241,241,241,.9);
    opacity: 0.8;
    
   
    
}
.paragraphCoverAdvices{
    padding-top: 60px;
    text-align: center;
}

.coverAbout{
    background-image: url("../img/trekking.jpg");
    margin-bottom: 20vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: 10%;
}
.divCoverAbout{
   background-color: rgb(252, 240, 225);
   opacity: 0.8;   
   width: 80%;
    height: 10vh;    
   
}
.paragraphCoverAbout{
    padding-top: 60px;
    font-size: 14px;
    text-align: center;
}

.footerAbout{
    background-color: rgb(252, 240, 225);
    opacity: 0.7;
}


/*Experiencias*/
.containerExp {
    transform-style: preserve-3d
}

.containerExp .box {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer
}

.containerExp .box .body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.9s ease
}

.containerExp .box .body .imgContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d
}

.containerExp .box .body .imgContainer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.containerExp .box .body .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg)
}

.containerExp .box:hover .body {
    transform: rotateY(180deg)
}

.containerExp .box .body .content div {
    transform-style: preserve-3d;
    padding: 20px;
    background: linear-gradient(45deg, #00a1fe, #3bd1ff);
    transform: translateZ(100px)
}

.containerExp .box .body .content div h3 {
    letter-spacing: 1px
}
